/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f9f9f9;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

.section__title {
  font-size: 2rem;
}

/* Container Styles */

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px; /* To prevent content from touching the screen edges */
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f1c40f;
}

/* Burger Menu Styles */
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: #333;
  margin: 4px;
  transition: all 0.3s ease;
}

/* Hero Section Styles */
#hero {
  height: 100vh;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hero .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

#hero h1 {
  font-size: 3rem;
  margin: 0;
}

#hero p {
  font-size: 1em;
}

.hero__img {
  width: 400px;
  border-radius: 50%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.icon {
  cursor: pointer;
  height: 2rem;
}

/* Button Styles */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 20px;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

/* About Me Section Styles */
#about {
  padding: 50px 20px;
  background-color: #fff;
  text-align: center;
}

#about h2 {
  color: #333;
  margin-bottom: 20px;
}

#about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.emoji {
  font-size: 1.5rem;
}

.details__container {
  display: flex;
  gap: 2rem;
}

.details__subcontainer {
  padding: 1rem;
  background: white;
  border-radius: 1rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  width: 50%;
}

.about-stack {
  margin-top: 1rem;
  display: flex;
  gap: 1.75rem;
}

.tech-icon {
  cursor: pointer;
  height: 5rem;
}

.language {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}

.language:hover .tech-icon {
  filter: brightness(75%);
  opacity: 0.86;
  transform: scale(0.95);
  cursor: pointer;
}

.language__name {
  color: rgb(85, 85, 85);
  position: absolute;
  bottom: -25px;
  transform: scale(0);
  transition: all 300ms ease;
  font-size: 16px;
}

.language:hover .language__name {
  transform: scale(1);
  transition: all 300ms ease;
}

/* Projects Section Styles */
#projects {
  padding: 50px 20px;
  background-color: #f1f1f1;
  text-align: center;
}

.project {
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.container .project:nth-child(even) {
  flex-direction: row-reverse;
}

.project__desc {
  height: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

.project h3 {
  color: #333;
  margin: 15px 0 10px;
}

.project p {
  color: #666;
}

.project__img {
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Contact Section Styles */
#contact {
  padding: 50px 20px;
  background-color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 75vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
  height: 2rem;
}

.email-icon {
  height: 2.5rem;
}

#contact a:hover {
  color: #f1c40f;
}

/* Footer Styles */
footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #fff;
}

footer p {
  text-align: center;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center; /* Align the dropdown to the right */
    position: absolute;
    top: 60px; /* Below the navbar */
    right: 20px; /* Right corner */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
  }

  .nav-active {
    display: flex;
  }

  .burger {
    display: block;
  }

  .burger.toggle .line1 {
    transform: rotate(-45deg) translate(-3px, 5px);
  }

  .burger.toggle .line2 {
    opacity: 0;
  }

  .burger.toggle .line3 {
    transform: rotate(45deg) translate(-3px, -5px);
  }

  #hero .container {
    flex-direction: column;
  }

  .about-stack {
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
  }

  .project {
    flex-direction: column;
  }

  .container .project:nth-child(even) {
    flex-direction: column;
  }

  .contact-info-upper-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .hero__img {
    width: 85%;
  }
  .project__img {
    width: 100%;
  }
}
